/* Challenge 8: Change the type of font to Arial for all elements */
body {
    font-style:Arial;
 }

/* Challenge 9: Change the background color for all elements with a id of banner.  Choose a color
                using rgb( )

*/
#banner {
    background-color:rgb(220,0,225);
}
/* Challenge 10: Change the background color for all elements with a class of subbanner.  Choose a color
                using a hexdecimal value. 
*/
.subbanner {
    background-color: #f10f10
}


/* Challenge 11: Change the radius of the border to 6px and height to 200px for all images inside of all 
                 elements with a class of gallery
*/
.gallery {
    border-radius: 6px;
    height:200px;
    
}
/* Challenge 12: When the visitor moves their mouse over images inside of the element with an id of firstGallery,
                 apply some type of styling using the filter( ) effect
*/#firstGallery img {
    filter:grayscale(100%);
    transition: filter 0.3s ease;
}
#firstGallery img:hover {
    filter: none;
}


/* Challenge 13: When the visitor moves their mouse over images inside of the element with an id of secondGallery,
                 apply some other type of styling.
*/ 
#secondGallery img {
    filter:grayscale(100%);
    transition: filter 0.3s ease;
}
#secondGallery img:hover {
    filter: none;
}

/* Challenge 14: Change the transition for all elements to 1 second */
body {
     transition: filter 0.1s ease;
}