/* Comments in CSS are created like this. Notice the slash asterisk at the beginning and end */


/* Basic Structure of a CSS rule
selector{
  property: value;
}
*/


/* Challenge 1: Change color of the text for all the headings size 3 to blue */
h3{ 
   Color:blue;
}

/* Challenge 2: Change the size for the font for all headings size 1 to 60pt */
h1{
  font-size:60pt; 
}
      
/* Challenge 3: Change the style of the font for all spans to italic */
span{
  Font-style: italic;
}

/* Challenge 4: Change the family of font being used for all paragraphs to "Arial" */
p{
  Font-family:Ariali;
}

/* Challenge 5: Change the family of font being used for all lists to "Comic Sans MS".  What element creates a list? */
li{
  Font-family:Comic Sans MS;
}

/* Chalenge 6: Change the background color of the div to blue, color of the text to white and the weight of the font to bold.*/
div{
    background-color: blue;
    color:white;
    font-weight: bold;
}

/* Hint:  You can specify several CSS rules for one element by separating the rules with semi-colons. Look at some examples on w3schools */