/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display:flex;
   }
   #banner p {
      flex:1;
   }
   nav a {
      flex:1;
      color:white;
      background-color:green;

   }
   #sidebar {
      flex-direction: column;
      flex:1;
   }

   #main {
      justify-content: center;
      align-items: center;
      flex:3;
    }
    #sample {
      justify-content:right;
      align-items: right;
      flex:3;

    }

    #footer p {
      flex:1;
      text-align:center;
      color:white;
      background-color:green;
    }
   