/* Challenge 2: Use w3SchoolsMockUp.png to help you write the necessary CSS rules.
   Hint: Remember all the fundamental CSS rules when working with flexboxes */
   .container{
      display:flex;
   }
   #banner p {
      flex:1;
   }
   nav a {
      flex:1;
      color:white;
      background-color:green;
   }

   #main{
      display: flex;
      flex:2;
   }

   #sample{
      flex:2;
   }